<div class="login-wrapper">

  <div class="login-card">

    <div class="logo">
      🚗
      <h2>CaixaDrive</h2>
      <span>Portal de Vendas</span>
    </div>

    <form (ngSubmit)="entrar()" #form="ngForm">

      <div class="form-group">
        <label>Email</label>
        <input
          type="email"
          required
          [ngModel]="email()"
          (ngModelChange)="email.set($event)"
          name="email"
        />
      </div>

      <div class="form-group">
        <label>Senha</label>
        <input
          type="password"
          required
          [ngModel]="senha()"
          (ngModelChange)="senha.set($event)"
          name="senha"
        />
      </div>

      <button type="submit">
        Entrar
      </button>

    </form>

    <div *ngIf="erro()" class="erro">
      {{ erro() }}
    </div>

  </div>

</div>