<h2 class="titulo">Catálogo de Veículos</h2>

<div class="lista">

  <div class="card" *ngFor="let veiculo of veiculos">

    <img
      [src]="veiculo.imagem"
      [alt]="veiculo.modelo"
      class="imagem"
    />

    <div class="conteudo">

      <h3>{{ veiculo.modelo }}</h3>

      <p class="descricao">
        {{ veiculo.descricao }}
      </p>

      <p class="preco">
        {{ veiculo.preco | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
      </p>

      <button (click)="reservar(veiculo)">
        Reservar Veículo
      </button>

    </div>

  </div>

</div>